<% content_for :title, "Editing debfixo" %>

<h1>Editing debfixo</h1>

<%= render "form", debfixo: @debfixo %>

<br>

<div>
  <%= link_to "Show this debfixo", @debfixo %> |
  <%= link_to "Back to debfixos", debfixos_path %>
</div>
