<p style="color: green"><%= notice %></p>

<% content_for :title, "Userconfs" %>

<h1>Userconfs</h1>

<div id="userconfs">
  <% @userconfs.each do |userconf| %>
    <%= render userconf %>
    <p>
      <%= link_to "Show this userconf", userconf %>
    </p>
  <% end %>
</div>

<%= link_to "New userconf", new_userconf_path %>
