<% content_for :title, "Editing debito" %>

<h1>Editing debito</h1>

<%= render "form", debito: @debito %>

<br>

<div>
  <%= link_to "Show this debito", @debito %> |
  <%= link_to "Back to debitos", debitos_path %>
</div>
